In [1]:
import pandas as pd
import numpy as np

# Medidas Estat√≠sticas

## Medidas Separatrizes

### Quartis

In [2]:
#dados1 = np.array([9, 11, 17, 29, 31, 53, 55, 122, 129, 140, 336])

In [3]:
dados1 = np.array([12, 15, 20, 25])

In [21]:
(len(dados1) + 1) / 4

1.25

In [ ]:
def obter_quartis(valor):
    quartil_1 = (len(valor) + 1) / 4 
    quartil_2 = (len(valor) + 1) / 2 
    quartil_3 = (3 * (len(valor) + 1)) / 4 
    
    Q1 = 12 + (0.25 * (15 - 12))
    Q2 = 15 + 0.5 * (20 - 15)
    Q3 = 20 + 0.75 * (25 - 20)
    #return valor[int(quartil_1 - 1)], valor[int(quartil_2 - 1)], valor[int(quartil_3 - 1)]
    #return valor[int(quartil_1 - 1)], valor[int(quartil_2 - 1)], valor[int(quartil_3 - 1)]
    return quartil_1, quartil_2, quartil_3, Q1, Q2, Q3

In [18]:
obter_quartis(dados1)

(1.25, 2.5, 3.75, 12.75, 17.5, 23.75)

In [6]:
a = pd.DataFrame(dados1)

In [7]:
#a.time_diff.quantile([0.25,0.5,0.75])

In [13]:
np.percentile(dados1, [25, 50, 75])

array([14.25, 17.5 , 21.25])

In [14]:
a.describe()

               0
count   4.000000
mean   18.000000
std     5.715476
min    12.000000
25%    14.250000
50%    17.500000
75%    21.250000
max    25.000000

In [16]:
#x = [i for i in range(4)]
#df = pd.DataFrame(dados1)
q1 = a.quantile(.25)
q1

0    14.25
Name: 0.25, dtype: float64

In [47]:
df

      0
0     9
1    11
2    17
3    29
4    31
5    53
6    55
7   122
8   129
9   140
10  336